.bg-color {
    background-color: #eddd07; 
}


.name {
    background-color: #f30aef; /* Color de fondo del recuadro */
    padding: 20px; /* Relleno interno para el contenido */
    border: 2px solid #00050a; /* Borde sólido con color */
    border-radius: 0px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto al centro */
    margin-bottom: 20px; /* Margen inferior para separación */
}

.title {
    text-align: center;
}

.image {
    width: 50%; 
    height: auto;
}

.align-right {
    float: right; 
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #9bb4b0;
}

.bordered-table {
    border-collapse: collapse; 
    width: 50%; 
}

.bordered-table th, .bordered-table td {
    border: 3px solid black; 
    padding: 8px; 
    text-align: center;
}

th {
    background-color: #3bb5cd;
}

.advance {
    color: rgb(5, 94, 5);
}

.basic {
    color: blue;
}

.none {
    color: rgb(9, 245, 245);
}

.medium {
    color: rgb(156, 103, 3);
}

.native {
    color: red;
}

input[type="text"] {
    width: 15%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #006cfa; 
    color: #080505; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
}

.button:hover {
    background-color: #0056b3; 
}


