@media screen and (max-width: 767px) {
    .container {
        padding: 10px;
    }

    #submit-comment {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: 80%;
    }
}

.bg-color {
    background-color: #dfd32c; 
}


.name {
    background-color: #be1abb; 
    padding: 20px; 
    border: 2px solid #00050a; 
    border-radius: 0px; 
    text-align: center; 
    margin-bottom: 20px; 
}

.title {
    text-align: center;
}

.image {
    width: 50%; 
    height: auto;
}

.align-right {
    float: right; 
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #9bb4b0;
}

.bordered-table {
    border-collapse: collapse; 
    width: 50%; 
}

.bordered-table th, .bordered-table td {
    border: 3px solid black; 
    padding: 8px; 
    text-align: center;
}

th {
    background-color: #3bb5cd;
}

.advance {
    color: rgb(5, 94, 5);
}

.basic {
    color: blue;
}

.none {
    color: rgb(9, 245, 245);
}

.medium {
    color: rgb(156, 103, 3);
}

.native {
    color: red;
}

input[type="text"] {
    width: 15%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #006cfa; 
    color: #080505; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
}

.button:hover {
    background-color: #a905f5; 
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.comment-box {
    margin-bottom: 20px;
}

#comment-text {
    width: 100%;
    margin-bottom: 10px;
}

#submit-comment {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-comment:hover {
    background-color: #0056b3;
}

p {
    width: 90%; 
    max-width: auto;
    height: auto; 
    padding: 30px;
    margin: 0 auto 20px auto; 
    box-sizing: border-box;
}

